[submodule "Externals/Git.hub"]
	path = externals/Git.hub
	url = https://github.com/gitextensions/Git.hub.git
[submodule "Externals/conemu-inside"]
	path = externals/conemu-inside
	url = https://github.com/gitextensions/conemu-inside.git
[submodule "Externals/ICSharpCode.TextEditor"]
	path = externals/ICSharpCode.TextEditor
	url = https://github.com/gitextensions/ICSharpCode.TextEditor.git
